<div class="fixed-top" style="position: initial;">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">FRD App</h5>
          <span class="text-muted">Demo app using Firebase Realtime Database</span>
          <img src="assets/img/logo.png" class="" width="90" height="90" style="position: absolute; top: 10px; right: 20px; margin: auto 0 auto auto;">
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a target="_blank" href="http://it-centerso.com" class="nav-link">IT-Center</a>
      </nav>
</div>